@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
	--var1: #fff;
	--body-background: #9aacb6;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--body-background);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.new-installation {
	width: 100vw;
	height: 96vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
	padding: 150px 20px;
	overflow: auto;
}

.new-installation > * {
	margin-left: 25px;
	margin-right: 25px;
	max-width: 600px;
}

.new-installation > h1 {
	font-family: 'Macondo', sans-serif;
}

.new-installation > img {
	width: 150px;
	filter: brightness(3) invert(1);
}

.new-installation .links > * {
	font-weight: bold;
	margin: 20px 20px;
	display: inline-block;
	color: #2e2e7e;
}
